<div class="form-row lineItem mb-4">
	<div class="col-md-4 col">
		<label for="dates">Date:</label>
		<input name="dates" type="date" class="form-control" required>
	</div>
	<div class="col-md-4 col">
                <label for="times">Time</label>
                <input name="times" type="number" class="form-control" required>
        </div>
</div>

